.whatIDoContainer{
    padding: 100px 20px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.servicesContainer{
    width: 100%;
}
.servicesUl{
    list-style: none;
    margin: 0 0 0 -80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.servicesUl li{
    width: calc(33.333% - 40px);
    max-width: 340px;
    margin: 0 0 40px;
    padding-left: 40px;

}
.servicesUl li>div {
    height: calc(100% - 85px);
    padding: 45px 30px 40px;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
}
.servicesUl li>div:hover .readMore {
    left: 0;
}
.servicesUl li>div:hover .number{
    background-color: hsla(0,0%,100%,.1);
}
.servicesTittle{
    min-height: 160px;
}
.servicesDesc{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding-bottom: 39.5px;
}
.number{
    display: inline-block;
    background-color: hsla(0,0%,100%,.03);
    margin-bottom: 25px;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    border-radius: 100px;
    line-height: 60px;
    font-weight: 700;
    transition: all 0.8s ease;
}
.servicesUl li div h3{
    font-size: 20px;
    margin-bottom: 15px;
}
.servicesUl li div>p{
    color: rgb(187, 187, 187);
    line-height: 30px;
}
.readMore{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    margin: 10px 0;
    letter-spacing: 0.7px;
    position: absolute;
    bottom: 0;
    left: -80px;
    transition: left 0.5s ease;
    cursor: pointer;
}
.readMore p{
    width: 80px;
    margin-right: 8px;
}
.readMore div{
    width: 30px;
    height: 1px;
    background-color: white;
}


@media screen and (max-width: 1050px) {
    .servicesUl li{
        width: calc(50% - 40px);
        max-width: 50%;
    }
}

@media screen and (max-width: 768px){
    .servicesUl li{
        width: 100%;
        max-width: 100%;
    }
}