.languageButton{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 14px;
    position: fixed;
    background-color: hsla(0,0%,100%,.2);
    border-radius: 30px;
    font-size: 25px;
    z-index: 10;
}

@media screen and (max-width: 1200px) {
    .languageButton{
        top: 14px;
        right: 116px;
        width: 44px;
        height: 44px;
        border-radius: 30px;
        font-size: 23px;
    }
    
}