.topBar{
    background-color: rgba(50, 50, 50, 0.8);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 15px 20px;
    visibility: hidden;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 9;
}
.topBar i{
    font-size: 30px;
}


@media screen and (max-width: 1200px) {
    .topBar{
        visibility: visible;
    }
}