.portfolioContainer{
    min-height: 100vh;
    padding: 93px 40px 43px 40px;
    display: flex;
    flex-direction: column;
}
.topWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}
.portfolioTop{
    display: flex;
    justify-content: flex-end;
}
.portfolioTop ul{
    display: flex;
    list-style: none;
    margin-bottom: 68px;
    color: rgb(187, 187, 187);
}
.portfolioTop ul li{
    margin-left: 40px;
    cursor: pointer;
}
.flexWrapper{
    margin: 0 0 0 -50px;
    height: 100%;
    position: relative;
}
.flexWrapper ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.flexWrapper ul li{
    margin: 0 0 50px;
    width: calc(50% - 50px);
    padding-left: 50px;
    max-height: 500px;
}

.flexWrapper ul li img{
    min-width: 100px;
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-clip-margin: content-box;
    object-fit: cover;
    cursor: pointer;
}
.portfolioLi div img{
    transition: transform 0.7s ease;
}

.portfolioLi div:hover img{
    transform: scale(1.15);
}
/* .portfolioLi .newsImg{
    object-fit: cover;
    height: 450px;
} */


/* 
@media screen and (max-width: 575px) {
    .portfolioLi .newsImg{
        height: auto;
    }
} */

@media screen and (max-width: 768px) {
    .topWrapper{
        flex-direction: column;
        align-items: start;
    }
    .topWrapper div h1{
        margin-bottom: 25px;
    }
    .portfolioTop ul{
        padding: 0;
        flex-wrap: wrap;
    }
    .portfolioTop ul li {
        margin-left: 0;
        margin-right: 30px;
    }
    .flexWrapper{
        margin: 0;
    }
    .flexWrapper ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 100%;
    }
    .flexWrapper ul li{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .newsImgContainer{
        height: auto!important;
    }
}