.mainPageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}
.mainRight{
    margin-left: 80px;
}
.mainRight h1{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
    color: white;
}
.mainRight h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}
.mainRight p {
    margin-bottom: 20px;
    font-weight: 500;
    color: rgb(187, 187, 187);
    max-width: 520px;
    line-height: 30px;
}
.mainRight div i{
    margin-right: 20px;
    font-size: 22px;
}