nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 450px!important;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    z-index: 11;
    box-sizing: border-box;
    border-right: 1px solid #f9f9f9;
    border-right-color: #111;
}
nav ul{
    list-style: none;
    padding: 40px 0 50px;
    letter-spacing: 2px;
    font-size: 15px;
    width: 100%;
}
nav ul li{
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    width: fit-content;
    font-weight: 500;
    :hover{
    transition: letter-spacing 0.5s ease;
        letter-spacing: 2.5px;
    }
}
nav ul li .active{
    color: white;
}
nav ul li a{
    color: rgb(187, 187, 187);
    display: flex;
    gap: 10px;
    align-items: center;
}
nav ul li a i{
    display: block;
    width: 15px;
}
nav a{
    text-decoration: none;
}
nav h2 {
    color: white;
    font-size: 30px;
}
nav .mediumLogoSide{
    width: 70%;
    filter: brightness(0) invert(1);
}

.visible{
    visibility: visible;
}

@media screen and (max-width: 1600px) {
    nav{
        padding: 0 40px;
        width: auto;
    }
}

@media screen and (max-width: 1200px) {
    nav{
        visibility: hidden;
    }
}