.portfolioGalery{
    display: flex;
    width: 100%;
    height: 430px;
}
.portfolioGalery img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: all 0.5s ease;
}
.portfolioGalery img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.portfolioGaleryMiddle {
    width: 300px!important; 
}
