.newsLi>div{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #2b2b2b8f;
}
.newsDescription{
    padding: 25px 40px 20px;
    background-color: rgb(46, 46, 46);
}
.newsDescription>p{
    color: rgb(187, 187, 187);
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    line-height: 30px;
    font-size: 15px;
    letter-spacing: .5px;
    font-style: italic;
}
.newsDescription h4{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}
.newsDescription>div{
    height: 39.5px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.newsDescription .readMore{
    bottom:0;
    left: -80px;
    transition: left 0.5s ease;
}
.newsImgContainer{
    position: relative;
    overflow: hidden;
    min-height: 260px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.newsImg{
    min-height: 300px;
    height: 100%;
    width: 100%;
    background-size: 100%; 
    background-position: center; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: background-size 0.7s ease;
    background-image: url("https://dummyimage.com/500x500/000/fff");
}
.newsLi>div:hover .readMore {
    left: 0;
}
.newsLi>div:hover .newsImg{
    background-size: 120%;
}