.personalInfo {
    padding: 100px 40px 152px;
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}

.markTittle {
    text-transform: uppercase;
    background-color: rgb(54, 56, 56);
    padding: 7px 11px;
    font-size: 13px;
    color: rgb(187, 187, 187);
    font-weight: 600;
    margin-bottom: 15px;
    width: fit-content;
}

.markTittleContainer h1 {
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.markTittleContainer {
    position: relative;
    width: 100%;
}

.profilePic {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profilePic img {
    filter: grayscale(30%);
    margin-bottom: 35px;
    min-width: 100px;
    max-width: 100%;
    height: auto;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.aboutWidth {
    max-width: 990px;
    margin: 0 auto;
}

.personalInfo .aboutWidth h2 {
    color: white;
    margin-bottom: 5px;
}

.personalInfo .aboutWidth h4 {
    color: rgb(187, 187, 187);
}

.personalInfo .aboutWidth p {
    color: rgb(187, 187, 187);
    padding-bottom: 20px;
    letter-spacing: 0.5px;
}

.bottomLine {
    border-bottom: 1px solid rgba(187, 187, 187, 0.1);
    padding-bottom: 20px;
    margin-bottom: 27px;
}

.aboutFlex {
    display: flex;
}

.aboutFlex ul {
    list-style-type: none;
}

.tech {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.tech li {
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.tech li img {
    width: 100%;
    border-image: fill
}

.aboutInfoLi {
    display: flex
}

.aboutFlex ul li span {
    color: rgb(187, 187, 187);
}

.progressWrapper>div {
    margin-top: 40px;
    padding-top: 33px;
}

.progressWrapper h3 {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.left {
    width: 50%;
    padding-right: 50px;
    padding-left: 0
}

.right {
    width: 50%;
    padding-left: 50px;
}

.aboutFlex ul li strong {
    float: left;
    min-width: 110px;
    margin-right: 10px;
}

.aboutButton {
    width: 100%;
    height: 52px;
    clear: both;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.aboutButton a {
    padding: 11px 40px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
}

.alterBG {
    background-color: black;
    /* width: 100%; */
    padding-left: 40px;
    padding-right: 40px;
}

.skillName {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    font-size: 19.5px;
    letter-spacing: 0.5px;
}

.progress {
    width: 100%;
    height: 3px;
    background-color: rgb(59, 59, 59);
    margin-bottom: 17px;
}

.progress div {
    background-color: rgb(99, 99, 99);
    height: 100%;
}

.knowledge h3 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-weight: 700;
}

.knowledge ul {
    padding-left: 0;
}

.knowledge ul li {
    display: flex;
    margin-bottom: 7px;
}

.knowledgeP {
    color: rgb(187, 187, 187);
}

.knowledge ul li i {
    font-size: 10px;
    margin-top: 7px;
    margin-right: 20px;
}

.educationTimeContainer {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.educationInfo {
    padding-left: 20px;
}

.educationTime {
    color: rgb(187, 187, 187);
    background-color: hsla(0, 0%, 100%, .065);
    padding: 9px 25px;
    border-radius: 50px;
    width: fit-content;
    font-size: 14.5px;
}

.knowledge ul li div>p {
    color: rgb(187, 187, 187);
}

.educationWrapper h3 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    font-weight: 700;
}

.educationLi {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.educationLi div {
    float: right;
    width: 50%;
}


section {
    padding: 93px 0;
}

.knowledge {
    padding-left: 40px;
    padding-right: 40px;
}





@media screen and (max-width: 1050px) {
    .personalInfo {
        padding: 100px 20px 152px !important;
        width: auto;
    }

    .alterBG {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }

    .knowledge {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .aboutFlex {
        flex-direction: column;
    }

    .left {
        padding: 0;
        width: auto;
    }

    .right {
        padding: 0;
        width: auto;
    }

    .progressWrapper div ul {
        width: 100%;
    }

    .knowledge .left {
        margin-bottom: 50px;
    }

    .educationWrapper div div .left {
        margin: 0;
    }
}

@media screen and (max-width: 470px) {
    .educationLi {
        flex-direction: column;
        align-items: center;
    }

    .educationWrapper>div>div {
        padding-left: 0;
        padding-right: 0;
    }

    .educationLi>div {
        width: 70%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .educationInfo {
        flex-direction: column;
    }

    .educationTime {
        width: 100%;
    }
}