
.personalInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutWidth{
    max-width: 1000px;
    margin: 0 auto;
}
.bottomLine{
    border-bottom: 1px solid black;
}
.aboutFlex{
    display: flex;
    width: 1000px;
}
.aboutFlex ul{
    list-style-type: none;
}
.left{
    width: 50%;
    padding-right: 50px;
}
.right{
    width: 50%;
    padding-left: 50px;
}
.aboutFlex ul li strong{
    float: left;
    min-width: 100px;
    margin-right: 10px;
}
.aboutButton{
    width: 1000px;
}


.alterBG{
    background-color: black;
}

.skillName{
    display: flex;
    justify-content: space-between;
}

.progress{
    width: 100%;
    height: 3px;
    background-color: black;
}
.progress div{
    background-color: lightslategray;
    height: 100%;
}

.educationLi{
    display: flex;
    justify-content: space-between;
}
.educationLi div{
    float: right;
}


section{
    padding: 93px 0;
}